@charset "utf-8";

/* ---------------------------------------------------
   File: common.css
   Version: 1.0.0
   Update: 2022-02-25
   Author: https://flowlab.co.jp

   (c)2007-2022 Flowlab inc. All Rights Reserved.
--------------------------------------------------- */



/* =======================================================================================================================

   WIDE DESKTOP LAYOUT

======================================================================================================================= */
.sp {display: none;}

/* ====================================================
		Layout
==================================================== */
body {
}
.row {
  padding: 150px 0;
  margin: 0 auto;
}

#main {
  max-width: 1100px;
  margin: 0 auto;
}




/* ====================================================
		Splash
==================================================== */
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #8fc31f;
  text-align: center;
  color: #fff;
}
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#splash_logo img {
  width: 140px;
}
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from { opacity: 0;}
  to   { opacity: 1;}
}



/* ====================================================
		Header
==================================================== */
/* -------------------------------
		Logo
------------------------------- */
#logo {
  width: 134px;
  height: 194px;
  margin: 30px auto 0;
}
#logo a {
  display: block;
}

/* -------------------------------
		Header Navigation
------------------------------- */
#headerNavi {
  position: absolute;
  top: 70px;
  right: 160px;
  display: flex;
  justify-content: right;
  z-index: 1000;
  align-items: center;
}
#headerNavi ul {
  cursor: pointer;
  z-index: 1000;
  display: flex;
  list-style: none;
  gap: 5px;
}
#headerNavi ul a {
  display: block;
  transition: .3s;
}
#headerNavi ul a:hover {
  opacity: .5;
}
#headerNavi ul li:first-child {
  margin-right: 12px;
}
#headerNavi img {
  width: 50px;
}
#headerNavi.panelactive {
  position: fixed;
  top: 70px;
  right: 160px;
}


/* -------------------------------
		Global Navigation
------------------------------- */
#gNavi {
  position: fixed;
  z-index: 100;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gNavi.panelactive {
  top: 0;
}

/* G-navi List */
#gNavi .gNavi-list_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 130px;
  background: rgba(243, 121, 120, 0.05);
}
#gNavi-list {
  display: flex;
  justify-content: center;
}
#gNavi ul {
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
}
#gNavi li {
  list-style: none;
}
#gNavi li a {
  color: #2e1812;
  text-decoration: none;
  display: block;
  letter-spacing: 0.1em;
  line-height: 7rem;
  position: relative;
  transition: .3s;
}
#gNavi li a:hover {
  opacity: .5;
}
#gNavi li a::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-top: -20px;
  margin-bottom: 20px;
  background-size: contain;
} 
#gNavi li:nth-child(1) a::before { background-image: url("../img_common/icon_peach.png");}
#gNavi li:nth-child(2) a::before { background-image: url(../img_common/icon_about.png);}
#gNavi li:nth-child(3) a::before { background-image: url(../img_common/icon_member.png);}
#gNavi li:nth-child(4) a::before { background-image: url(../img_common/icon_access.png);}
#gNavi li:nth-child(5) a::before { background-image: url(../img_common/icon_instagram.png);}
#gNavi li:nth-child(6) a::before { background-image: url(../img_common/icon_melon.png);}
#gNavi li:nth-child(7) a::before { background-image: url(../img_common/icon_contact.png);}

.link_blank a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
	background-image: url(../img_common/icon_blank.png);
  background-size: contain;
  mix-blend-mode: multiply;
}

/* G-navi Logo */
#gNavi .gNavi-logo img {
  width: 130px;
}

/* Menu Trigger */
.menu-trigger {
  width: 100px;
  height: 13px;
  cursor: pointer;
  position: fixed;
  top: 84px;
  right: 50px;
  z-index: 1000;
}
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  right: 0px;
  height: 1px;
  background-color: #2e1812;
}
.menu-trigger span:nth-of-type(1) {
  width: 70%;
  top: 0px; 
}
.menu-trigger span:nth-of-type(2) {
  width: 60%;
  top: 10px;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(342deg);
  transform: translateY(6px) rotate(342deg);
  width: 70%;
}
.menu-trigger.active span:nth-of-type(2) {
  top: 12px;
  -webkit-transform: translateY(-6px) rotate(-342deg);
  transform: translateY(-6px) rotate(-342deg);
  width: 70%;
}



/* ====================================================
		Footer
==================================================== */
#gFooter {
  font-size: 1.4rem;
  text-align: center;
  padding: 100px 0 0;
}
#gFooter a {
}

/* -------------------------------
		Logo
------------------------------- */
#flogo {
  width: 140px;
  margin: 0 auto 50px;
}
#flogo a {
  display: block;
}

/* -------------------------------
		Address
------------------------------- */
#gFooter address {
  font-style: normal;
}

/* Btn - Google map */
#gFooter address a {
  color: #fff;
  font-size: 1.1rem;
  font-family: din-2014, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.1em;
  background: #2e1812;
  border-radius: 20px;
  padding: 4px 15px;
  margin-left: 10px;
  display: inline-block;
}

/* -------------------------------
		Contact
------------------------------- */
#gFooter .flex {
  justify-content: center;
  padding: 30px 0 90px;
}

/* Title */
#gFooter h2 {
  font-size: 1.6rem;
}

/* Tel */
#gFooter .tel {
  font-size: 4rem;
  font-family: din-2014, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}
#gFooter .tel span {
  position: relative;
}
#gFooter .tel span::before {
  content: '';
  width: 28px;
  height: 28px;
  background: url("../img_common/icon_tel.png") no-repeat 0 0 / 28px;
  position: absolute;
  top: 0.35em;
  left: -32px;
}

/* Open Time */
#gFooter section section.flex {
  width: 100%;
  font-size: 1.3rem;
  padding: 0;
}
#gFooter section section p {
  line-height: 2;
}

/* SNS */
#gFooter .sns {
  border-left: solid 1px #ebe8e8;
  border-right: solid 1px #ebe8e8;
  padding: 15px 40px;
  margin-left: 40px;
}
#gFooter .sns h2 {
  font-size: 1.3rem;
  font-family: din-2014, sans-serif;
  font-weight: 300;
  font-style: normal;
}
#gFooter .sns ul.flex {
  justify-content: center;
  padding: 10px 0 0;
}
#gFooter .sns ul li {
  width: 34px;
}
#gFooter .sns ul li img {
  width: 20px;
  height: auto;
}

/* -------------------------------
		Page Top
------------------------------- */
#gFooter #pageTop {
  width: 32px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
	display: none;
}
#gFooter #pageTop a {
	display: block;
}
#gFooter #pageTop a img {
  width: 100%;
  height: auto;
}
@media all and (min-width: 897px) {
	#gFooter #pageTop a:hover {
		opacity: 0.7;
	}
}

/* -------------------------------
		Copyright
------------------------------- */
#gFooter #copyright {
  font-size: 1rem;
  font-family: din-2014, sans-serif;
  font-weight: normal;
  font-style: 400;
  letter-spacing: 0.1em;
	display: block;
}




/* ====================================================
		WEB Font
==================================================== */
.font_din2014 {
  font-family: din-2014, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.font_tsukuardgothic {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font_ten-mincho {
  font-family: ten-mincho-text, serif;
  font-weight: 400;
  font-style: normal;
}















/* =======================================================================================================================

   TABLET

======================================================================================================================= */
@media screen and (min-width: 897px) and (max-width: 1299px) {
  
  
  /* ====================================================
      Common
  ==================================================== */
  #main {
    max-width: 90%;
  }
  
  /* ====================================================
      Header
  ==================================================== */
  /* -------------------------------
      Logo
  ------------------------------- */
  #logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* -------------------------------
      Header Navigation
  ------------------------------- */
  #headerNavi {
    
  }
  #headerNavi.panelactive {
    top: 70px;
  }
  #headerNavi img {
    width: 40px;
  }
  
  
  
  
}













/* =======================================================================================================================

   MOBILE

======================================================================================================================= */
@media screen and (max-width: 896px) {
  .pc {display: none;}
  .sp {display: block;}
  
  /* ====================================================
      Common
  ==================================================== */
  #main {
    max-width: 90%;
  }
  
  /* ====================================================
      Splash
  ==================================================== */
  #splash_logo img {
    width: 100px;
  }
  
  /* ====================================================
      Header
  ==================================================== */
  /* -------------------------------
      Logo
  ------------------------------- */
  #logo {
    width: 126px;
    height: auto;
    margin: 25px auto;
  }
  
  /* -------------------------------
      Header Navigation
  ------------------------------- */
  #headerNavi,
  #headerNavi.panelactive {
    top: 32px;
    left: 0;
    right: auto;
    transform: scale(.8);
  }
  #headerNavi ul li:first-child {
    margin-right: 5px;
  }
  #headerNavi img {
    width: 36px;
  }
  /* G-navi Logo */
  #gNavi .gNavi-logo {
    margin-top: -30px;
  }
  
  /* -------------------------------
      Global Navigation
  ------------------------------- */
  /* Menu Trigger */
  .menu-trigger {
    width: 100px;
    height: 13px;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 20px;
    transform: scale(.8);
  }
  .menu-trigger span {
    height: 1.2px;
  }

  /* G-navi List */
  #gNavi .gNavi-list_wrapper{
    flex-direction: column;
    gap: 0;
  }
  #gNavi-list {
    padding-left: 0;
    margin-top: -20px;
    transform: scale(.8);
  }
  #gNavi ul {
    /*writing-mode: horizontal-tb;*/
  }
  #gNavi li a {
    font-size: 1.6rem;
    line-height: 2;
    display: block;
    padding: 0 8px;
  }
  #gNavi li a::before {
    /*margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;*/
  } 
  .link_blank a::after {
    /*margin-top: 0;
    margin-left: 10px;*/
  }
  /* G-navi Logo */
  #gNavi .gNavi-logo img {
    width: 80px;
  }
  
  
  
  
  /* ====================================================
      Footer
  ==================================================== */
  #gFooter {
    padding: 40px 0 10px;
  }
  /* -------------------------------
      Logo
  ------------------------------- */
  #flogo {
    width: 120px;
    margin: 0 auto 30px;
  }
  
  /* -------------------------------
      Address
  ------------------------------- */
  #gFooter address {
    line-height: 1.6;
  }
  
  /* -------------------------------
      Contact
  ------------------------------- */
  #gFooter .flex {
    padding: 30px 0 20px;
  }
  #gFooter .contactTel {
    width: 100%;
    display: block;
  }
  
  /* Title */
  #gFooter h2 {
    font-size: 1.4rem;
  }
  
  /* Tel */
  #gFooter .tel {
    font-size: 3rem;
  }
  #gFooter .tel span::before {
    width: 20px;
    height: 20px;
    background-size: 20px;
    left: -28px;
  }
  
  /* SNS */
  #gFooter .sns {
    width: 60%;
    border: none;
    border-top: solid 1px #ebe8e8;
    padding: 30px 0 0;
    margin: 30px 0 0 0;
  }
  #gFooter .sns h2 {
    font-size: 1.1rem;
  }
  #gFooter .sns ul li {
    width: 30px;
  }
  #gFooter .sns ul li img {
    width: 18px;
    height: auto;
  }

  /* -------------------------------
      Page Top
  ------------------------------- */
  #gFooter #pageTop {
    width: 28px;
    bottom: 14px;
    right: 20px;
  }

  /* -------------------------------
      ClipPath  Map
  ------------------------------- */

  _::-webkit-full-page-media, _:future, :root #gFooter {
    margin-top: 30px;
  }
  
  
  
}
