@charset "utf-8";

/* ---------------------------------------------------
   File: index.css
   Version: 1.0.0
   Update: 2022-07-04
   Author: https://flowlab.co.jp

   (c)2007-2022 Flowlab inc. All Rights Reserved.
--------------------------------------------------- */



/* =======================================================================================================================

   WIDE DESKTOP LAYOUT

======================================================================================================================= */

/* ====================================================
		Common Style
==================================================== */
/* -------------------------------
		Photo
------------------------------- */
.photoArea {
  
}

/* -------------------------------
		Button
------------------------------- */
.btn a {
  font-size: 1.4rem;
  border: #2e1812 1px solid;
  border-radius: 40px;
  display: inline-block;
  padding: 10px 50px 10px 80px;
}
.btn a:hover {
  opacity: 0.5;
}

/* Icon */
.btn a span {
  position: relative;
}
.btn a span::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
}

/* -------------------------------
		Small
------------------------------- */
small {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
  display: block;
}









/* ====================================================
		Main Visual
==================================================== */
#mainVisual {
  width: 100%;
  background: url("../img_index/bg.png") repeat-x center bottom / 222px 630px;
  padding-bottom: 100px;
  margin-bottom: 200px;
}

/* -------------------------------
		Slideshow
------------------------------- */
.swiper-container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.swiper-wrapper {
  width: 1100px;
  height: 680px;
}
.clip-path_slide {
  -webkit-clip-path: url(#clipPath_slide);
  clip-path: url(#clipPath_slide);
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide-active img,
.swiper-slide-duplicate-active img,
.swiper-slide-prev img {
  animation: zoomUp 10s linear 0s 1 normal both;  
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}


/* -------------------------------
		Text
------------------------------- */
#mainVisual p {
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

/* Text */
#mainVisual p span {
  font-size: 1.4rem;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  line-height: 1.2;
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Icon */
#mainVisual p a {
  width: 16px;
  height: 16px;
  display: block;
  padding-top: 10px;
}





/* ====================================================
		Peach - Main
==================================================== */
#peach {
  
}

/* -------------------------------
		Title
------------------------------- */
#peach h2 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 60px;
}

/* Sub Catchcopy */
#peach h2 span {
  color: #ff7074;
  font-size: 1.8rem;
  padding-bottom: 15px;
  display: block;
}

/* -------------------------------
		Photo
------------------------------- */
#peach .photoArea {
  width: 48%;
  position: relative;
}
#peach .photoArea::before {
  width: 220px;
  height: 100px;
  background: url("../img_index/txt_peach.png") no-repeat 0 0 / 220px 100px;
  top: -80px;
  right: 0;
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
}
#peach .photoArea.fadeInTrigger {
  margin-top: 20px;
}

/* -------------------------------
		Text
------------------------------- */
#peach .textBox {
  width: 44%;
  padding-top: 70px;
}




/* ====================================================
		Peach - Experience Summary
==================================================== */
#peach #experienceSummary {
  padding: 140px 0 220px;
}

/* -------------------------------
		Photo
------------------------------- */
#peach #experienceSummary .photoArea {
  width: 34%;
  order: 2;
  padding-top: 30px;
}
#peach #experienceSummary .photoArea::before {
  width: 240px;
  height: 114px;
  background: url("../img_index/txt_peach-sub.png") no-repeat 0 0 / 240px 114px;
  top: -60px;
  left: -60px;
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
}

/* -------------------------------
		Text
------------------------------- */
#peach #experienceSummary .textBox {
  width: 60%;
  padding-left: 8%;
  padding-top: 0;
  order: 1;
}

/* -------------------------------
		Title
------------------------------- */
#peach #experienceSummary h2 {
  font-size: 2.4rem;
  margin-bottom: 40px;
}

/* -------------------------------
		Information - Layout
------------------------------- */
#peach #experienceSummary section,
#peach #experienceSummary section .detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#peach #experienceSummary section {
  font-size: 1.4rem;
  border-bottom: #ebe8e8 1px solid;
  padding: 15px 0;
}

/* -------------------------------
		Information - Title
------------------------------- */
#peach #experienceSummary section h3 {
  width: 30%;
}

/* -------------------------------
		Information - Detail
------------------------------- */
#peach #experienceSummary section .detail {
  width: 68%;
}
#peach #experienceSummary section ul.detail li {
  width: 100%;
  display: block;
}

/* -------------------------------
		Information - Price Box
------------------------------- */
#peach #experienceSummary section.priceBox {
  border-top: #ebe8e8 1px solid;
}
#peach #experienceSummary section.priceBox .detail section {
  width: 100%;
  border-bottom: none;
  padding: 0 0 10px;
}

/* Title */
#peach #experienceSummary section.priceBox .detail section h4 {
  width: 30%;
  padding-top: 0.8em;
  line-height: 1;
}

/* Price */
#peach #experienceSummary section.priceBox .detail section p.price {
  width: 70%;
  font-size: 1.8rem;
  letter-spacing: 0.06em;
  line-height: 1.8;
}
#peach #experienceSummary section.priceBox .detail section p.price small {
  padding-left: 3px;
}

/* Attention */
#peach #experienceSummary section.priceBox .detail section small {
  font-size: 1.2rem;
  display: inline;
  padding-left: 0;
}

/* Last Child */
#peach #experienceSummary section.priceBox .detail section:last-child {
  padding-bottom: 0;
}
#peach #experienceSummary section.priceBox .detail section:last-child p.price {
  font-size: 1.6rem;
}
#peach #experienceSummary section.priceBox .detail section:last-child h4 {
  padding-top: 0.6em;
}

/* -------------------------------
		Information - Reservation
------------------------------- */
#peach #experienceSummary section.reservation {
  margin-bottom: 30px;
}
#peach #experienceSummary section.reservation .detail {
  line-height: 1.8;
  display: block;
}

/* -------------------------------
		PhotoArea - Photo
------------------------------- */

 
/* -------------------------------
		PhotoArea - Button
------------------------------- */
#peach #experienceSummary .photoArea .btn {
  width: 100%;
  padding-top: 70px;
}
#peach #experienceSummary .photoArea .btn a {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
#peach #experienceSummary .photoArea .btn a span::before {
  width: 16px;
  height: 18px;
  background: url("../img_common/icon_calendar.png") no-repeat 0 0 / 16px 18px;
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}




/* ====================================================
		Instagram
==================================================== */
#instagram {
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 300px;
}

/* -------------------------------
		Title
------------------------------- */
#instagram p {
  font-size: 2rem;
  font-family: din-2014, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  padding-bottom: 50px;
}
#instagram p a {
  display: inline-block;
  padding-left: 40px;
}
#instagram p a span {
  position: relative;
}
#instagram p a span::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url("../img_common/icon_instagram_footer.png") no-repeat 0 0 / 24px;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
}




/* ====================================================
		About
==================================================== */
#about {
  padding-bottom: 320px;
}
#about section {
  padding-bottom: 70px;
}

/* -------------------------------
		inBox
------------------------------- */
#about .inBox {
  padding-top: 600px;
}

/* -------------------------------
		Title
------------------------------- */
#about h3 {
  font-size: 2.4rem;
}


/* -------------------------------
		Layout - Main
------------------------------- */
#about .flex.main {
  
}

/* Photo */
#about .flex.main .photoArea {
  width: 48%;
}

/* Text */
#about .flex.main .textBox {
  width: 44%;
  padding-top: 80px;
}

/* Title */
#about .flex.main .textBox h3 {
  padding-bottom: 40px;
}
#about .flex.main .textBox h3 span {
  line-height: 2.3;
  position: relative;
  border-bottom: 1px solid #2e1812;
  padding-bottom: 4px;
}

/* -------------------------------
		Layout - Sub
------------------------------- */
#about .flex.sub {
  
}

/* Photo */
#about .flex.sub .photoArea {
  width: 30%;
  padding-top: 100px;
}
#about .photoSubArea {
  width: 1000px;
  margin: 140px auto 100px;
}
#about .photoSubArea .clip-path_small {
  width: 316px;
  height: 340px;
}
_::-webkit-full-page-media, _:future, :root #about .photoSubArea .safari {
  width: 316px;
  height: 340px;
}

/* Text */
#about .flex.sub .textBox {
  width: 62%;
  padding-top: 130px;
  padding-left: 8%;
}

/* Title */
#about .flex.sub .textBox h3 {
  padding-bottom: 30px;
}

/* -------------------------------
		Calendar
------------------------------- */
#about section#calendar {
  padding: 0 8% 130px;
}

/* Title */
#about section#calendar h3 {
  padding-bottom: 20px;
}

/* -------------------------------
		Youtube
------------------------------- */
#about .youtube {
  padding: 0 8%;
}
#about .youtube iframe {
  width: 100%;
  height: 600px;
}

/* -------------------------------
		Button
------------------------------- */
#about .btnList {
  width: 630px;
  margin: 0 auto;
}
#about .btn {
  width: 300px;
}
#about .btn a {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: block;
  text-align: center;
}
#about li:nth-child(1) a span::before,
#about li:nth-child(2) a span::before {
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#about li:nth-child(1) a span::before {
  width: 18px;
  height: 18px;
  background: url("../img_common/icon_melon.png") no-repeat 0 0 / 18px;
}
#about li:nth-child(2) a span::before {
  width: 14px;
  height: 16px;
  background: url("../img_common/icon_onlinestore.png") no-repeat 0 0 / 14px 16px;
}




/* ====================================================
		Member
==================================================== */
#member {
  padding-bottom: 320px;
}

/* -------------------------------
		inBox
------------------------------- */
#member .inBox {
  font-size: 1.4rem;
  padding-top: 700px;
}

/* Button */
#member .btn {
  text-align: right;
}

/* -------------------------------
		Photo
------------------------------- */
#member .photoArea {
}

/* Balloon */
#member .photoArea p {
  position: relative;
}
#member .photoArea p::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
}

/* Name */
#member .photoArea h3 {
  padding-top: 30px;
}
#member .photoArea h3 img {
  width: auto;
  height: 40px;
  display: block;
  margin: 0 auto;
}

/* -------------------------------
		Profile
------------------------------- */
#member .profile {
}
#member .profile ul {
  line-height: 1.6;
}

/* Dl */
#member .profile dl {
  padding-top: 25px;
}
#member .profile dl dt,
#member .profile dl dd {
  padding: 3px 0;
}
#member .profile dl dt {
  width: 14%;
}
#member .profile dl dd {
  width: 86%;
}

/* Flow */
#member .profile dl dd ol {
  padding-bottom: 15px;
}
#member .profile dl dd ol li {
  position: relative;
  padding-left: 18px;
}
#member .profile dl dd ol li::before,
#member .profile dl dd ol li::after {
  content: '';
  display: block;
  position: absolute;
}
#member .profile dl dd ol li::before {
  width: 5px;
  height: 5px;
  background: #2e1812;
  border-radius: 50%;
  top: 0.9em;
  left: 0;
}
#member .profile dl dd ol li::after {
  height: calc(100% - 9px);
  border-left: solid 1px #ebe8e8;
  top: calc(0.9em + 7px);
  left: 2px;
}
#member .profile dl dd ol li:last-child::after {
  content: none;
}

/* After marriage */
#member .profile section {
  line-height: 1.6;
  background: rgba(243, 121, 120, 0.1);
  border-radius: 20px;
  position: relative;
  padding: 15px 30px;
  margin: 30px 0;
}
#member .profile section h4 {
  font-size: 1.2rem;
  position: absolute;
  top: -0.8em;
  left: 30px;
}

/* -------------------------------
		Toru
------------------------------- */
#member .toru {
  padding-bottom: 200px;
}
#member .toru .photoArea {
  width: 32%;
}
#member .toru .photoArea p::before {
  width: 218px;
  height: 92px;
  background: url("../img_index/txt_member_toru.png") no-repeat 0 0 / 218px 92px;
  top: -70px;
  right: -40px;
}

/* Profile */
#member .toru .profile {
  width: 60%;
  padding: 30px 12% 0 0;
}

/* Button */
#member .toru .btn a {
  font-size: 1.2rem;
  padding: 10px 50px;
}


/* -------------------------------
		Masayo
------------------------------- */
#member .masayo .photoArea {
  width: 44%;
  padding-left: 12%;
}
#member .masayo .photoArea p::before {
  width: 160px;
  height: 92px;
  background: url("../img_index/txt_member_masayo.png") no-repeat 0 0 / 160px 92px;
  top: -70px;
  left: -40px;
}

/* Profile */
#member .masayo .profile {
  width: 48%;
  padding-top: 40px;
}

/* Button */
#member .masayo .btn a span::before {
  width: 14px;
  height: 14px;
  background: url("../img_common/icon_instagram_footer.png") no-repeat 0 0 / 14px;
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}




/* ====================================================
		Contact
==================================================== */
#contact {
  padding-bottom: 200px;
}

/* -------------------------------
		Title
------------------------------- */
#contact h2 {
  height: 6.3em;
}

/* -------------------------------
		inBox
------------------------------- */
#contact .inBox {
  padding: 540px 8% 0;
}

/* -------------------------------
		Icon
------------------------------- */
#contact strong {
  display: inline-block;
  padding-right: 3px;
}
#contact strong img {
  width: 30px;
  height: 16px;
  top: 0.1em;
  left: 0;
  position: relative;
  display: block;
}




/* ====================================================
		Contact - WEB Form
==================================================== */
/* -------------------------------
		Form
------------------------------- */
#contact dl {
  padding-top: 80px;
  border-bottom: 1px solid #ebe8e8;
}
#contact dl dt,
#contact dl dd {
  position: relative;
}
#contact dl dt {
  width: 30%;
  padding-top: 40px;
}
#contact dl dt::before,
#contact dl dd::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #ebe8e8;
  position: relative;
  display: block;
}
#contact dl dt::before {
  top: -40px;
}
#contact dl dd::before {
  top: -20px;
}
#contact dl dd {
  width: 70%;
  padding: 20px 0;
}

/* Must */
#contact dl strong {
  padding-left: 3px;
}

/* -------------------------------
		MailFormPro CSS - Reset
------------------------------- */
.mfp_element_text, .mfp_element_number, .mfp_element_select-one, .mfp_element_email, .mfp_element_tel, .mfp_element_textarea, .mfp_element_date, .mfp_element_password {
  box-shadow: none;
  margin: 0;
}
.mfp_element_all {
  max-width: 100%;
}
div.mfp_err {
  background-size: 13px;
  color: #ff7074;
  padding: 2px 0 0 17px;
  background-position: 0 0.35em;
}

/* -------------------------------
		Input
------------------------------- */
#mailformpro textarea,
#mailformpro input[type="tel"],
#mailformpro input[type="email"], 
#mailformpro input[type="text"] {
  padding: 20px;
  width: calc(100% - 20px);
  color: #2e1812;
  font-size: 1.4rem;
  border: 0;
  border-radius: 20px;
  letter-spacing: 0.07em;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f8f8f8;
}

/* placeholder */
#mailformpro input::placeholder {
  color: #2e1812;
  opacity: 0.2;
}

/* -------------------------------
		Text Area
------------------------------- */
#mailformpro textarea {
  width: calc(100% - 20px)!important;
	height: 300px!important;
	resize: vertical;
}

/* -------------------------------
		Button - Submit
------------------------------- */
#mailformpro #btnBox {
  text-align: center;
  padding: 70px 0 0;
}

/* Button - Submit */
#mailformpro #btn_submit {
  width: 300px;
  color: #2e1812;
	font-size: 1.4rem;
  border: #2e1812 1px solid;
  border-radius: 40px;
  letter-spacing: 0.1em;
  padding: 10px 0;
  display: inline-block;
  cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  position: relative;
}
#mailformpro #btn_submit:hover {
  opacity: 0.6;
}




/* ====================================================
		Check Display
==================================================== */
/* -------------------------------
		MailFormPro CSS - Reset
------------------------------- */
table#mfp_confirm_table tr.mfp_achroma,
.mfp_achroma,
table#mfp_confirm_table tr.mfp_colored,
.mfp_colored {
  background: none;
}
.mfp_element_submit:hover,.mfp_element_reset:hover,.mfp_element_button:hover,button.mfp_next:hover,button.mfp_prev:hover {
	background: none;
	box-shadow: none;
}

/* -------------------------------
		Title
------------------------------- */
#mfp_phase_confirm_inner {
  padding: 0;
}

/* -------------------------------
		Display
------------------------------- */
table#mfp_confirm_table tr th,
table#mfp_confirm_table tr td {
  text-align: left;
  font-size: 1em;
}

/* -------------------------------
		Button - Submit
------------------------------- */
.mfp_element_submit, .mfp_element_reset, .mfp_element_button, button.mfp_next, button.mfp_prev {
  border-radius: 50px;
  padding: 20px 50px;
  border: 0;
  background: url("../img_common/btn_bg-green.html") no-repeat center center / cover;
  text-shadow: none;
  font-size: 1.6rem!important;
}
div.mfp_buttons {
  padding: 50px 0;
}
div.mfp_buttons button {
  font-size: 1.6rem!important;
}

/* Submit */
div.mfp_buttons button#mfp_button_send {
  width: 300px;
  margin-right: 20px;
}
div.mfp_buttons button#mfp_button_send:hover {
  opacity: 0.6;
}








/* ====================================================
		Clip Path
==================================================== */
/* -------------------------------
		ClipPath
------------------------------- */
.clipPathSvg {
  width: 0;
  height: 0;
}

/* -------------------------------
		ClipPath　LargeImage
------------------------------- */
.clip-path_large {
  width: 100%;
  height: auto;
  clip-path: url(#clipPath_large);
  aspect-ratio: 550/678;
  display: block;
  object-fit: cover;
}

/* -------------------------------
		ClipPath  LongImage - Title
------------------------------- */
/* Common */
.clip-path_long_left-wrapper,
.clip-path_long_right-wrapper {
  width: 100vw;
  height: 460px;
  position: absolute;
}
.clip-path_long_left,
.clip-path_long_right {
  /*width: 2000px;*/
  width: 150%;
  height: 460px;
  position: absolute;
  aspect-ratio: 2000/460;
}
.clip-path_long_left-wrapper .clip-path-image-wrapper,
.clip-path_long_right-wrapper .clip-path-image-wrapper {
  width: 100%;
  height: 460px;
}
.clip-path_long_left-wrapper h2,
.clip-path_long_right-wrapper h2 {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #fff;
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper h2 {
  left: 35%;
  -webkit-transform: translate(0, -50%);
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper h2 {
  left: 55%;
  -webkit-transform: translate(-100%, -50%);
}

.clip-path_long_left-wrapper h2 span,
.clip-path_long_right-wrapper h2 span {
  width: 10em;
  font-size: 1.4rem;
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  position: absolute;
  top: 50%;
  left: 130%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  writing-mode: horizontal-tb;
  
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.clip-path_long_left-wrapper .clip-path-image-wrapper img,
.clip-path_long_right-wrapper .clip-path-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.clip-path_long_right-wrapper .clip-path-image-wrapper img {
  width: 70%;
}
.clip-path_long_left-wrapper .clip-path-image-wrapper img {
  width: 70%;
  left: 30%;
  position: absolute;
}

/* Right */
.clip-path_long_right-wrapper {
  left: 0;
}
.clip-path_long_right {
  left: 100px;
  clip-path: url(#clipPath_long_right);
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_right {
  right: 0;
}
.clip-path_long_right-wrapper .clip-path-image-wrapper {
  margin-right: 0;
  margin-left: 0;
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper {
  margin-right: 0;
}

/* Left */
.clip-path_long_left-wrapper {
  left: 0;
}
.clip-path_long_left {
  right: 100px;
  left: auto;
  clip-path: url(#clipPath_long_left);
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_left {
  width: 100%;
  left: 0;
}
.clip-path_long_left-wrapper .clip-path-image-wrapper {
  margin-right: 0;
  margin-left: auto;
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper {
  margin-left: 0;
}

/* -------------------------------
		ClipPath  SmallImage
------------------------------- */
.clip-path_small {
  width: 100%;
  height: auto;
  clip-path: url(#clipPath_small);
  object-fit: cover;
  aspect-ratio: 354/390;
}
.smallPhoto {
  width: 600px;
} 

/* -------------------------------
		ClipPath  Map
------------------------------- */
.clip-path_map-wrapper {
  height: 590px;
  display: flex;
  justify-content: center;
}
.clip-path_map {
  width: 1300%;
  min-width: 2200px;
  height: 590px;
  clip-path: url(#clipPath_map);
  aspect-ratio: 1800/590;
}
_::-webkit-full-page-media, _:future, :root .clip-path_map {
  clip-path: none;
}

/* -------------------------------
		Safari Hack
------------------------------- */
.safari {
  display: none;
}
_::-webkit-full-page-media, _:future, :root .clip-path_large,
_::-webkit-full-page-media, _:future, :root .clip-path_small,
_::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img,
_::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img {
  display: none;
}
_::-webkit-full-page-media, _:future, :root .safari {
  display: block;
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper,
_::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper {
  position: relative;
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img.safari,
_::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img.safari {
  width: auto!important;
  height: 100%!important;
  max-height: 460px;
  /*object-fit: contain;*/
  display: block;
  position: absolute;
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img.safari {
  right: 0;
}
_::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img.safari {
  left: auto!important;
}

_::-webkit-full-page-media, _:future, :root .clip-path_long_right {
  width: 100%;
}










/* =======================================================================================================================

   TABLET - large

======================================================================================================================= */
@media screen and (min-width: 1300px) and (max-width: 1369px) {
  
  /* ====================================================
      Clip Path
  ==================================================== */
  /* -------------------------------
      ClipPath  LongImage - Title
  ------------------------------- */
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left,
  _::-webkit-full-page-media, _:future, :root .clip-path_long_right {
    width: 100vw;
  }
}














/* =======================================================================================================================

   TABLET

======================================================================================================================= */
@media screen and (min-width: 897px) and (max-width: 1299px) {
  
  /* ====================================================
      Main Visual
  ==================================================== */
  #mainVisual {
    margin-bottom: 200px;
  }
  
  /* -------------------------------
      Slideshow
  ------------------------------- */
  .swiper-container {
    width: 90%;
  }
  .swiper-wrapper {
    width: auto;
    height: 430px;
  }
  
  
  
  
  /* ====================================================
      Peach - Main
  ==================================================== */
  #peach {
  }

  /* -------------------------------
      Title
  ------------------------------- */
  #peach h2 {
    font-size: 4rem;
    margin-bottom: 40px;
  }
  
  /* Sub Catchcopy */
  #peach h2 span {
    font-size: 1.4rem;
  }
  
  /* -------------------------------
      Photo
  ------------------------------- */
  #peach .photoArea {
    margin-top: 50px;
  }
  
  /* -------------------------------
      Text
  ------------------------------- */
  #peach .textBox {
    padding-top: 0;
  }
  
  
  
  
  /* ====================================================
      Peach - Experience Summary
  ==================================================== */
  #peach #experienceSummary {
    padding-top: 100px;
  }
  
  /* -------------------------------
      Photo
  ------------------------------- */
  #peach #experienceSummary .photoArea {
    margin-top: 100px;
    padding-top: 0;
  }
  
  /* -------------------------------
      Text
  ------------------------------- */
  #peach #experienceSummary .textBox {
    padding-left: 0;
  }
  
  /* -------------------------------
      Title
  ------------------------------- */
  #peach #experienceSummary h2 {
    font-size: 2.2rem;
  }
  
  /* -------------------------------
      PhotoArea - Button
  ------------------------------- */
  #peach #experienceSummary .photoArea .btn {
    padding-top: 40px;
  }
  #peach #experienceSummary .photoArea .btn a {
    padding: 10px 30px 10px 60px;
  }
  
  
  
  
  /* ====================================================
      About
  ==================================================== */
  /* -------------------------------
      inBox
  ------------------------------- */
  #about .inBox {
    padding-top: 540px;
  }
  
  /* -------------------------------
      Layout - Main
  ------------------------------- */
  #about .flex.main {
  }

  /* Photo */
  #about .flex.main .photoArea {
    padding-top: 50px;
  }

  /* Text */
  #about .flex.main .textBox {
    width: 46%;
    padding: 0;
  }
  
  /* Title */
  #about .flex.main .textBox h3 {
    font-size: 2.2rem;
  }
  
  /* -------------------------------
      Layout - Sub
  ------------------------------- */
  /* Photo */
  #about .photoSubArea {
    width: auto;
    margin-top: 100px;
  }
  #about .photoSubArea .clip-path_small {
    width: 30%;
    height: auto;
  }
  _::-webkit-full-page-media, _:future, :root #about .photoSubArea .safari {
    width: 30%;
    height: auto;
  }
  
  /* Text */
  #about .flex.sub .textBox {
    padding-top: 80px;
    padding-left: 0;
  }
  
  /* Title */
  #about .flex.sub .textBox h3 {
    font-size: 2.2rem;
  }
  
  /* -------------------------------
      Calendar
  ------------------------------- */
  #about section#calendar {
    padding: 0 0 130px;
  }
  
  /* -------------------------------
      Youtube
  ------------------------------- */
  #about .youtube {
    padding: 0;
  }
  #about .youtube iframe {
    height: 500px;
  }
  
  
  
  
  /* ====================================================
      Member
  ==================================================== */
  /* -------------------------------
      inBox
  ------------------------------- */
  #member .inBox {
    padding-top: 600px;
  }
  
  /* -------------------------------
      Photo
  ------------------------------- */
  /* Name */
  #member .photoArea h3 img {
    width: auto;
    height: 30px;
  }
  
  /* -------------------------------
      Toru
  ------------------------------- */
  #member .toru {
    padding-bottom: 100px;
  }
  
  /* Profile */
  #member .toru .profile {
    padding: 0;
  }
  
  /* -------------------------------
      Masayo
  ------------------------------- */
  #member .masayo .photoArea {
    width: 32%;
    padding-left: 0;
  }
  
  /* Profile */
  #member .masayo .profile {
    width: 60%;
    padding-top: 0;
  }
  
  
  
  
  /* ====================================================
      Contact
  ==================================================== */
  /* -------------------------------
      inBox
  ------------------------------- */
  #contact .inBox {
    padding: 500px 0 0;
  }
  
  
  
  
  
  
  
  
  /* ====================================================
      Clip Path
  ==================================================== */
  
  /* -------------------------------
      ClipPath  LongImage - Title
  ------------------------------- */
  .clip-path_long_left,
  .clip-path_long_right {
    width: 1800px;
  }
  .clip-path_long_left {
    left: auto;
  }
  
  /* -------------------------------
      Safari Hack
  ------------------------------- */
  _::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img.safari,
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img.safari {
    height: 100%;
    object-fit: contain;
  }
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img.safari {
    left: auto!important;
    right: 100px;
  }
  
  
  
}













/* =======================================================================================================================

   MOBILE

======================================================================================================================= */
@media screen and (max-width: 896px) {
  
  /* ====================================================
      Common Style
  ==================================================== */
  /* -------------------------------
      Button
  ------------------------------- */
  .btn a {
    font-size: 1.2rem;
  }
  
  /* -------------------------------
      Small
  ------------------------------- */
  small {
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0.01em;
  }
  
  
  

  
  
  
  
  /* ====================================================
      Main Visual
  ==================================================== */
  #mainVisual {
    width: 100%;
    background: url("../img_index/bg.png") repeat-x center bottom / 111px 315px;
    padding-bottom: 60px;
    margin-bottom: 100px;
  }
  #mainVisual .swiper-wrapper img {
    width: 100%;
    max-width: inherit!important;
    height: calc(100vh - 120px);
    object-fit: cover;
  }
  
  /* -------------------------------
      Text
  ------------------------------- */
  #mainVisual p {
    right: 15px;
  }
  
  /* Text */
  #mainVisual p span {
    font-size: 1rem;
    line-height: 1.8;
  }

  /* -------------------------------
      Slideshow
  ------------------------------- */
  .swiper-container {
    width: 100%;
    height: auto;
  }
  .swiper-wrapper {
    /*width: auto;
    height: auto;*/
    width: auto;
    height: calc(100vh - 120px);
  }
  .clip-path_slide {
    /*width: 100%;
    height: auto;*/
    width: auto;
    height: calc(100vh - 120px);
    clip-path: unset;
  }
  
  
  
  
  /* ====================================================
      Peach - Main
  ==================================================== */
  /* -------------------------------
      Flex
  ------------------------------- */
  #peach .flex {
    display: block;
  }
  
  /* -------------------------------
      Title
  ------------------------------- */
  #peach h2 {
    font-size: 2.2rem;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  /* Sub Catchcopy */
  #peach h2 span {
    font-size: 1.1rem;
    padding-bottom: 5px;
  }
  
  /* -------------------------------
      Photo
  ------------------------------- */
  #peach .photoArea {
    width: 100%;
    text-align: center;
  }
  #peach .photoArea::before {
    /*width: 110px;
    height: 50px;
    background-size: 110px 50px;
    top: -40px;
    right: 10%;*/
    width: 192px;
    height: 82px;
    background-size: 192px 82px;
    top: -60px;
    right: 2%;
  }
  
  /* -------------------------------
      Text
  ------------------------------- */
  #peach .textBox {
    width: 100%;
    padding-top: 50px;
  }
  
  
  
  
  /* ====================================================
      Peach - Experience Summary
  ==================================================== */
  #peach #experienceSummary.flex {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 100px;
  }
  /* -------------------------------
      Photo
  ------------------------------- */
  #peach #experienceSummary .photoArea {
    width: 100%;
    padding-top: 80px;
    order: 2;
  }
  #peach #experienceSummary .photoArea::before {
    width: 210px;
    height: 100px;
    background-size: 210px 100px;
    top: 20px;
    left: 2%;
  }
  #peach #experienceSummary .photoArea .clip-path_small,
  #peach #experienceSummary .photoArea .safari {
    width: 60%;
  }
  
  /* -------------------------------
      Text
  ------------------------------- */
  #peach #experienceSummary .textBox {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    order: 1;
  }
  
  /* -------------------------------
      Title
  ------------------------------- */
  #peach #experienceSummary h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  /* -------------------------------
      Information - Layout
  ------------------------------- */
  #peach #experienceSummary section {
    font-size: 1.2rem;
    line-height: 1.8;
    padding: 10px 0;
  }
  
  /* -------------------------------
      Information - Title
  ------------------------------- */
  #peach #experienceSummary section h3 {
    width: 20%;
  }

  /* -------------------------------
      Information - Detail
  ------------------------------- */
  #peach #experienceSummary section .detail {
    width: 78%;
  }
  
  /* -------------------------------
      Information - Price Box
  ------------------------------- */
  /* Title */
  #peach #experienceSummary section.priceBox .detail section h4 {
    padding-top: 0.4em;
  }
  
  /* Price */
  #peach #experienceSummary section.priceBox .detail section p.price {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  
  /* Last Child */
  #peach #experienceSummary section.priceBox .detail section:last-child p.price {
    font-size: 1.4rem;
  }
  #peach #experienceSummary section.priceBox .detail section:last-child h4 {
    padding-top: 0.3em;
  }
  
  /* -------------------------------
      Information - Reservation
  ------------------------------- */
  #peach #experienceSummary section.reservation {
    margin-bottom: 10px;
  }

  /* -------------------------------
      PhotoArea - Button
  ------------------------------- */
  #peach #experienceSummary .photoArea .btn {
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }
  #peach #experienceSummary .photoArea .btn a {
    position: static;
    transform: none;
    -webkit-transform: none;
  }
  
  
  
  
  /* ====================================================
      Instagram
  ==================================================== */
  #instagram {
    width: 100%;
    padding-bottom: 150px;
  }
  
  /* -------------------------------
      Title
  ------------------------------- */
  #instagram p {
    font-size: 1.6rem;
  }


  
  
  /* ====================================================
      About
  ==================================================== */
  #about {
    padding-bottom: 150px;
  }
  #about section {
    padding-bottom: 30px;
  }
  
  /* -------------------------------
      inBox
  ------------------------------- */
  #about .inBox {
    padding-top: 300px;
  }
  
  /* -------------------------------
      Title
  ------------------------------- */
  #about h3 {
    font-size: 1.8rem;
  }
  
  /* -------------------------------
      Layout - Main
  ------------------------------- */
  /* Photo */
  #about .flex.main .photoArea {
    width: 100%;
    text-align: center;
  }
  
  /* Text */
  #about .flex.main .textBox {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  /* Title */
  #about .flex.main .textBox h3 {
    padding-bottom: 25px;
  }
  
  /* -------------------------------
      Layout - Sub
  ------------------------------- */
  #about .flex.sub section {
    clear: both;
  }
  
  /* Map */
  #about .flex.sub section p {
    position: relative;
  }
  #about .map {
    width: 38%;
    float: right;
    position: relative;
    top: -4em;
    padding-left: 10px;
    display: block;
  }
  
  /* Photo */
  #about .photoSubArea {
    width: 100%;
    margin: 30px auto 40px;
  }
  #about .photoSubArea .clip-path_small {
    width: 30.5%;
    height: auto;
  }
  _::-webkit-full-page-media, _:future, :root #about .photoSubArea .safari {
    width: 30.5%;
    height: auto;
  }
  
  /* Text */
  #about .flex.sub .textBox {
    width: 100%;
    padding-top: 30px;
    padding-left: 0;
  }
  
  /* Title */
  #about .flex.sub .textBox h3 {
    font-size: 1.6rem;
    padding-bottom: 10px;
  }
  
  /* -------------------------------
      Calendar
  ------------------------------- */
  #about section#calendar {
    padding: 0 0 50px;
  }
  
  /* Title */
  #about section#calendar h3 {
    font-size: 1.6rem;
  }
  
  /* -------------------------------
      Youtube
  ------------------------------- */
  #about .youtube {
    padding: 0;
  }
  #about .youtube iframe {
    width: 100%;
    height: 240px;
  }
  
  /* -------------------------------
      Button
  ------------------------------- */
  #about .btnList {
    width: 100%;
  }
  #about .btn {
    width: 49%;
  }
  #about .btn a {
    padding: 10px 3% 10px 18%;
  }
  
  
  
  
  /* ====================================================
      Member
  ==================================================== */
  #member {
    padding-bottom: 150px;
  }
  
  /* -------------------------------
      inBox
  ------------------------------- */
  #member .inBox {
    font-size: 1.2rem;
    padding-top: 330px;
  }
  #member .inBox p {
    letter-spacing: 0.1em;
  }
  
  /* Button */
  #member .btn {
    text-align: center;
  }
  
  /* -------------------------------
      Photo
  ------------------------------- */
  #member .photoArea {
    width: 100%!important;
    text-align: center;
  }
  #member .photoArea img {
    width: 60%;
    height: auto;
  }
  
  /* Name */
  #member .photoArea h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #member .photoArea h3 img {
    width: auto;
    height: 30px;
  }
  
  /* -------------------------------
      Profile
  ------------------------------- */
  #member .profile {
    width: 80%!important;
    margin: 0 auto;
    padding: 30px 0 0 0!important;
  }
  #member .profile ul,
  #member .profile ol {
    line-height: 1.4;
  }
  #member .profile ol li {
    padding: 3px 0;
  }
  
  /* Dl */
  #member .profile dl {
    padding-top: 10px;
  }
  #member .profile dl dt,
  #member .profile dl dd {
    padding: 0;
  }
  
  /* Flow */
  #member .profile dl dd ol {
    padding-bottom: 4px;
  }
  #member .profile dl dd ol li {
    padding-left: 12px;
  }
  #member .profile dl dd ol li::before {
    top: 0.7em;
  }
  #member .profile dl dd ol li::after {
    top: calc(0.7em + 7px);
  }
  
  /* -------------------------------
      Toru
  ------------------------------- */
  #member .toru {
    padding-bottom: 100px;
  }
  #member .toru .photoArea p::before {
    width: 191px;
    height: 80px;
    background-size: 191px 80px;
    top: -50px;
    right: 2%;
  }
  
  /* -------------------------------
      Masayo
  ------------------------------- */
  #member .masayo .photoArea {
    padding-left: 0;
  }
  #member .masayo .photoArea p::before {
    width: 140px;
    height: 80px;
    background-size: 140px 80px;
    top: -60px;
    left: 5%;
  }
  
  
  
  
  /* ====================================================
      Contact
  ==================================================== */
  #contact {
    padding-bottom: 150px;
  }
  
  /* -------------------------------
      Title
  ------------------------------- */
  #contact h2 {
    height: 6.4em;
  }
  
  /* -------------------------------
      inBox
  ------------------------------- */
  #contact .inBox {
    padding: 300px 0 0;
  }
  
  
  
  
  /* ====================================================
      Contact - WEB Form
  ==================================================== */
  /* -------------------------------
      Form
  ------------------------------- */
  #contact dl {
    font-size: 1.2rem;
    padding-top: 40px;
    border-bottom: none;
  }
  #contact dl dt,
  #contact dl dd {
    width: 100%;
    padding-top: 0;
  }
  #contact dl dt {
    padding-bottom: 5px;
  }
  #contact dl dt::before,
  #contact dl dd::before {
    content: none;
  }
  
  /* -------------------------------
      Input
  ------------------------------- */
  #mailformpro textarea,
  #mailformpro input[type="tel"],
  #mailformpro input[type="email"], 
  #mailformpro input[type="text"] {
    padding: 10px 5%;
    width: 100%!important;
    border-radius: 10px;
  }
  
  /* placeholder */
  #mailformpro input::placeholder {
  }
  
  /* -------------------------------
      Button - Submit
  ------------------------------- */
  #mailformpro #btnBox {
    padding: 30px 0 0;
  }
  
  /* Button - Submit */
  #mailformpro #btn_submit {
    width: 60%;
    font-size: 1.2rem;
  }

  
  
  
  /* ====================================================
      Clip Path
  ==================================================== */
  /* -------------------------------
      ClipPath　LargeImage
  ------------------------------- */
  .clip-path_large,
  .photoArea .safari {
    width: 80%;
    height: auto;
    aspect-ratio: 550/678;
    margin: 0 auto;
  }

  /* -------------------------------
		ClipPath  LongImage - Title
  ------------------------------- */
  /* Common */
  .clip-path_long_left-wrapper,
  .clip-path_long_right-wrapper {
    width: 100vw!important;
    height: 260px;
  }
  .clip-path_long_left,
  .clip-path_long_right {
    width: 2000px!important;
    height: 260px;
  }
  .clip-path_long_left-wrapper .clip-path-image-wrapper,
  .clip-path_long_right-wrapper .clip-path-image-wrapper {
    width: 100vw!important;
    height: 260px;
  }
  .clip-path_long_left-wrapper h2,
  .clip-path_long_right-wrapper h2 {
    font-size: 2.2rem;
    left: 40%;
  }
  .clip-path_long_left-wrapper h2 span,
  .clip-path_long_right-wrapper h2 span {
    font-size: 1rem;
    left: 130%;
  }
  
  /* Right */
  .clip-path_long_right-wrapper {
    margin-left: -50vw ;
  }
  .clip-path_long_right-wrapper .clip-path-image-wrapper,
  .clip-path_long_right-wrapper .clip-path_title {
    margin-left: 50vw;
  }
  .clip-path_long_right {
    margin-left: -100px;
  }
  .clip-path_long_right-wrapper .clip-path-image-wrapper img {
    width: 100vw;
  }
  
  /* Left */
  .clip-path_long_left-wrapper {
    margin-left: -1000px;
  }
  .clip-path_long_left-wrapper .clip-path-image-wrapper,
  .clip-path_long_left-wrapper .clip-path_title {
    margin-left: 1000px ;
  }
  .clip-path_long_left {
    left: 0;
  }
  .clip-path_long_left-wrapper .clip-path-image-wrapper img {
    width: 100vw!important;
    left: auto;
  }
  
  
  
  /* -------------------------------
      ClipPath  SmallImage
  ------------------------------- */
  .clip-path_small {
    width: 80%;
    height: auto;
    aspect-ratio: 354/390;
  }
  
  /* -------------------------------
      Safari Hack
  ------------------------------- */
  _::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img.safari,
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img.safari {
    display: none!important;
  }
  _::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img,
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img {
    display: block;
  }
  
  _::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img.safari,
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img.safari {
    width: auto!important;
    height: 100%!important;
    max-height: 460px;
  }
  _::-webkit-full-page-media, _:future, :root .clip-path_long_right-wrapper .clip-path-image-wrapper img.safari {
    right: 0;
  }
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path-image-wrapper img.safari {
    left: auto!important;
  }
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper,
  _::-webkit-full-page-media, _:future, :root .clip-path_long_left-wrapper .clip-path_title {
    margin-left: 0;
  }

  _::-webkit-full-page-media, _:future, :root .clip-path_long_right {
    width: 100%;
  }

  
  
  
}
